@import "tailwindcss";
 
div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
     background-color: #27ae60!important;
 }

 div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel) {
     background-color: #2c3e50;
 }

 div:where(.swal2-container) .swal2-input {
     width: 100%;
     margin: 0;
     box-shadow : none!important;
     outline: none!important;
     border: 1px solid #ccc!important;
 }

 div:where(.swal2-container) .swal2-textarea {
     margin: 0;
     width: 100%;
     min-height: 11rem;
     margin-top: 1rem;
     box-shadow : none!important;
     outline: none!important;
     border: 1px solid #ccc!important;
 }